<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Framework Testing" >
	<listeners>
		<listener class-name="DemoPackage.listeners" /> 
		<listener class-name="resources.ExtentReporterNG" />  
	</listeners>
	<test name="test1">
		<classes>
			<class name="DemoPackage.TC_01Test" />
		</classes>
	</test>
	<test name="Test2">
		<classes>
			<class name="DemoPackage.TC_02Test" />
		</classes>
	</test>
</suite>